.header {
	height: 86px;
	background-size: cover;
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-color: rgba(0, 0,0,0.4);
	border-radius: 4px;
	box-shadow: 0 1px 4px hsla(0, 0%, 0%,0.2%);
	transition: all 0.3s ease;
}
@media  (max-width:769px){
    .header {
        width: 90%;
    }   
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    font-size: 20px;
    font-weight: 600;
}
.header nav a {
    color: white;
    transition: all 0.3s ;
}
.header nav a:hover {
    color: var(--btn-color);
}
#table-res {
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 20px;
    padding-right: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    transition: all 0.25s ;
}
#table-res::before {
	content: "";
	position: absolute;
	top: -2px;
	left: 50%;
	width: 0%;
	height: calc(100% + 4px);
	background-color: var(--btn-color);
	transition: all 0.15s linear;
	z-index: -1;
	border-radius: 12px;
}
#table-res:hover::before {
	width: calc(100% + 4px);
	left: -2px;
    transition: all 0.25s linear;
}
.header nav .burger {
    display: none;
    transition: all 0.3s;
}
.header nav .burger:hover {
    color: var(--btn-color);
    cursor: pointer;
}
@media (max-width: 991px) {
    .header nav ul{
        font-size: 14px;
        gap: 20px;
    }
    .header nav {
        gap: 25px;
    }
    #table-res {
        padding: 8px 15px;
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .header nav .burger {
        display: block;
        font-size: 26px;
    }
    .header nav ul {
        display: block;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: start;
        overflow: hidden;
        padding-top: 23px;
    }
    .header nav ul li{
        background-color: rgba(0, 0,0,0.4);
        transform: translateY(-40px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
    }
    .header nav ul.active li{
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
    .header nav ul li a {
        display: block;
        font-size: 16px;
        padding: 15px;
        border-bottom: 1px solid #f7f3f338;
    }
    .header nav ul li:last-child a {
        border-bottom: none;
    }
    .fixed nav ul li a {
        color: black;
        font-weight: 500;
    }
    .fixed nav ul li {
        background-color: white;
    }
}
.fixed {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.fixed nav a {
    color: black;
}
.fixed #table-res {
    border: 2px solid black;
    color: black;
    font-weight: 500;
}
.fixed  nav ul {
    font-weight: 500;
}
.fixed #table-res:hover {
    color: white;
}
