.landing {
    padding-block: var(--margin-glb);
    background-image: url(../resources/10882@2x.png);
    background-size: cover;
}
.landing img {
    height: 100vh;
    width: 100vw;
    position: relative;
}