@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
.landing .slide {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.landing .slide1 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../resources/slide2.jpg); 
}
/* .landing .slide2 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../resources/slide2.jpg); 
} */
/* .landing .slide3 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../resources/slide2.jpg); 
} */
.landing .info {
    width: 40%;
    text-align: center;
    text-align: start;
}
.landing h1 {
	font-size: 62px;
	color: white;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 35px;
}
.landing #order-now {
	padding: 13px 16px;
	background-color: var(--main-color);
	color: white;
	font-weight: 500;
	border-radius: 10px;
    transition: all 0.3s ;
    font-size: 20px;
}
.landing #order-now:hover {
    background-color: var(--btn-color);
}
@media (max-width: 991px) {
    .landing h1 {
        font-size: 45px;
    }
}
@media (max-width: 767px) {
    .landing .info {
        width: 47%;
    }
    .landing #order-now {
        font-size: 16px;
        padding: 10px 13px;
    }
    .landing h1 {
        font-size: 36px;
    }
}
@media (max-width: 560px) {
    .landing .info {
        width: 64%;
        text-align: center;
    }
}
body {
    height: 200vh;
}