
.header {
    margin-bottom: var(--margin-glb);
    border-bottom: 3px solid black;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.Testimonials_container {
    background-color: #f8f8ff;
    background-color: #F8F8FF;
    width: 100%;
    padding: 10%;
    display: flex;
}

.Testimonials_container .container { 
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}
.picture_container {
    border: 1px solid black;
    width: fit-content;
    position: relative;
}

.background{
    font-display: none;
    position:absolute;
    background-color: #9E8177;
    opacity: 55%;
    width: 46%;
    height: 45%;
    border-radius: 15px;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.picture {
    position: relative;
    z-index: 2;
}


.picture_container img{
    width: 80%;
    bottom: auto;
    margin-left: 3rem;
    margin-bottom: 3rem;
    border-radius: 25px;
    
}

.reviews_container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: fit-content;
    width: 70%;
    margin-left: 5rem;
}
.reviews_container .review_text{
    border: 1px solid black;
    width: 100%;
    margin-left: 2.5rem;   
}

.reviews_container .double_quotes_element{
    margin-bottom: 1rem;
}

.reviews_container .reviewer_name{
    border: 1px solid black;
    margin-top: 2rem;
}

/* Make all footers full width */
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding-bottom: 10rem;
    width: 100vw;
    color: black;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}


.links_container{
    width: 30%;
    border: 1px solid black;
     display: flex;
     justify-content: space-between;
     left: auto;
}


.description{
    border:    1px solid black;
    width: 30%;
    text-justify: auto;
}
.links_container p{
    font-size: large;
    color: #835151;
    left: 0;
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
}

.A{
    justify-content: space-between;
}

  footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  footer li {
    margin-bottom: 15%;
  }



.payment_methods{
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-top: 20%;
    aspect-ratio: 1;
    
}

.payment_methods img{
    padding: 5%;
    justify-content: space-evenly;
}

.links_container p{
    width: 60%;
}

.links_container p::before {
    display: inline-block;
	content: "";
	width: 65%;
	height: 2px;
	background-color: var(--btn-color);
    position: relative;
    top: 30px;

}

@media  (max-width: 995px) {
 


    footer{
        width: 100%;
        height: fit-content;
        bottom: 0;
        margin-top: auto;
    }
   

    .reviews_container{
        width: 45%;
    }

    .links_container {
        width: 50%;

    }

    .links_container{
        font-size: small;
    }

    .description{
        font-size: small;
    }

    .links_container p{
        font-size: medium;
        font-weight: 500;
        color: #743838;
        left: 0;
        font-size: small;
        margin-bottom: 20px;
    }

  

    .reviews_container .double_quotes_element{
        transform: scale(0.8);
        margin-right: 1rem;
    }
}


@media  (max-width: 767px ) {

    .Testimonials_container .container{
        flex-direction: column; 
    }

    .Testimonials_container .picture_container{
        padding-top: 5%;
    }

    .Testimonials_container .reviews_container{
        width: 100%;
        margin-left: 0;
    }

    .Testimonials_container .reviews_container .review_text{
        width: fit-content;
    }

    footer {
        width: 100%;
        margin-top: auto 0;
    }

    .description{
        width: 45%;
    }

    .container{
        width: 100%;
    }

    .double_quotes_element{
      width: 0%;
    }

    .picture_container{
        width: 35%;
    }

    .reviews_container{
        width: 45%;
    }


    .links_container{
        font-size: small;
    }

}

    @media screen and (max-width: 695px) {

        footer{
            width: 100%;
            height: fit-content;
            bottom: 0;
            margin-top: auto;
        }
        .picture_container{
            width: 60%;
        }
    
        .reviews_container{
            width: 45%;
        }

    
        .links_container{
            font-size: 50%;
        }

        .description{
            font-size:60%;
        }

        .links_container p{
            font-size: medium;
            font-weight: 500;
            color: #743838;
            left: 0;
            font-size: small;
            margin-bottom: 20px;
        }

        .reviews_container{
            width: 70%;
            margin-right: 2rem;
        }

        .reviews_container .double_quotes_element{
            transform: scale(0.8);
            margin-right: 1rem;
        }
    
    }

    @media screen and (max-width: 580px){

        .links_container{
            font-size: 30%;
        }

        .description{
            font-size:40%;
        }
    }



/* Start Landing */
.landing {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.landing{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../resources/462927.jpg);
}
.landing .info {
	width: 100%;
	max-width: 500px;
}
.landing h1 {
	font-size: 53px;
	color: white;
	font-family: 'Montserrat', sans-serif,-apple-system;
	margin-bottom: 35px;
}
.landing #order-now {
	padding: 13px 16px;
	background-color: var(--main-color);
	color: white;
	font-weight: 500;
	border-radius: 10px;
    transition: all 0.3s ;
    font-size: 20px;
}
.landing #order-now:hover {
    background-color: var(--btn-color);
}
@media (max-width: 991px) {
    .landing h1 {
        font-size: 45px;
    }
}
@media (max-width: 767px) { 
    .landing #order-now {
        font-size: 16px;
        padding: 10px 13px;
    }
    .landing h1 {
        font-size: 36px;
    }
}
@media (max-width: 480px) {
    .landing .info {
        text-align: center;
    }
    .landing .info h1 {
        font-size: 30px;
    }
}
/* End Landing  */

/* Start reserve Section */
.reserve {
    background-color: #f8f8ff;
    padding-block: var(--margin-glb);
    margin-bottom: var(--margin-glb);
}
.reserve .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1000px;
    min-height: 400px;
  }

  .reserve .container .info {
    flex-basis: 40%;
    
}
  .reserve .info p {
    color: #707070;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: var(--margin-glb);
  }
  
  .reserve .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFB767;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
  }

  .reserve .btn:hover {
    background-color: var( --btn-color);
  }
  
  .reserve .image img {
    max-width: 100%;
    height: auto;
    width: 300px;
    border-radius: 50%;
  }
  @media (max-width:767px) {
    .reserve .container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 25px 0px;
        
      }
      .reserve .container .info {
        width: 60%;
        text-align: start;
        
        
    }
    .reserve .info p {
        font-size: 24px;
      }
  }

  @media (max-width:450px) {
    .reserve .info {
        width: 100%;
   
    }
    .reserve .info p {
        font-size: 22px;
      }

    
     
  }
/* End Reseerve Section */
/* Start delivery section */
.delivery {
    position: relative;
    margin-bottom: var(--margin-glb);
}

  /*  boxes section */
  .delivery .boxes {
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px
  } 
  /*  box section */
  .delivery .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding:  25px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 290px;
  }
  
  .delivery .boxes .box .image img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
  }
  
  .delivery .boxes .box h3 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
  }
  .delivery .boxes .box h3::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: var(--btn-color);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
  
.delivery .boxes .box p {
	font-size: 20px;
	color: #686868;
}
@media (max-width: 1200px) {
    .delivery .boxes .box p {
        font-size: 17px;
    }
    .delivery .boxes .box h3 {
        font-size: 28px;
    }
}
@media (max-width: 991px) {
    .delivery .boxes .box {
        height: 255px;
    }
    .delivery .boxes .box p {
        font-size: 14px;
    }
    .delivery .boxes .box h3 {
        font-size: 21px;
    }
}
@media (max-width: 767px) {
    .delivery .boxes .box {
        height: 200px;
    }
    .delivery .boxes .box p {
        font-size: 14px;
    }
    .delivery .boxes .box h3 {
        font-size: 21px;
    }
    .delivery .boxes {
        grid-template-columns: 80%;
        gap: 50px
    }
}
@media (max-width: 460px) {
    .delivery .boxes .box {
        height: 240px;
    }
}
/* END Delvery Section */
